@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body {
  cursor: url(https://cdn.custom-cursor.com/db/4732/32/arrow2699.png) , default!important;
}

@font-face {
  font-family: "CodecPro";   /*Can be any text*/
  src: local("Codec-Pro-ExtraBold"),
    url("./fonts/Codec-Pro-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Interphases";   /*Can be any text*/
  src: local("TT-Interphases-Pro-Trial-ExtraLight"),
    url("./fonts/TT-Interphases-Pro-Trial-ExtraLight.ttf") format("truetype");
}

h1{
  font-family: CodecPro;
  font-size: 8em;
  color: #fff;
}


h2{
  font-family: CodecPro;
  font-size: 2em;
  color: #000;
}

p{
  font-family: Interphases;
}

.incrementCounter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20vw;
  height: 20vw;
  margin: 0;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 8px 16px 10px 14px #000;
}
.incrementCounter:hover{
  background:#fff;
}

.incrementCounter h3:hover{
  color:#ff00ff;
}

.incrementCounter h3{
  font-size: 8em;
  font-family: CodecPro;
  color: #6371c7;
}
.stats{
  padding-top: 10vh;
  display: flex;
  justify-content: space-around;
  width: 75%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.press-start, .intro-container{
  transition-property: height, opacity;
  transition-duration: 1s;
  opacity: 1;
}

.press-start{
  height: 50%;
  width: 30%;
  transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.glitch:hover{
  /* cursor: pointer; */
  cursor: url(https://cdn.custom-cursor.com/db/4731/32/arrow2699.png) , pointer!important;
}

a:hover{
  cursor: url(https://cdn.custom-cursor.com/db/4731/32/arrow2699.png) , pointer!important;
}

.intro-container {
  position: sticky;
  /* min-height: 100vh; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* cursor: pointer; */
  cursor: url(https://cdn.custom-cursor.com/db/4731/32/arrow2699.png) , pointer!important;
  
}

.intro-container:hover{
  cursor: url(https://cdn.custom-cursor.com/db/4731/32/arrow2699.png) , pointer!important;
}

.App-link {
  color: #61dafb;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.main-site{
  height: 0px;
  overflow: hidden;
}

.main-site.open{
  height: initial;
}

.intro-container.close{
  overflow: hidden;
  opacity: 0;
  height: 0px;
}



.portfolio-items-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



.review {
  width: 28vw;
  height: 28vw;
  /* min-width: 20vw;
  max-width: 30vw; */
  border-radius: 10%;
  position: relative;
  /* height: 20vw;
  max-height: 80vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2vw;
  opacity: 100%;
  padding: 20px;
}

.exp-stack-desc{
  width: 80vw;
  margin-top: 20px;
}

.reviews-container{
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
  width: 100vw;
  /* overflow-x: auto; */
  overflow-y: hidden;
  /* white-space: nowrap;
  line-height: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* flex-wrap: nowrap; */
}

.review p{
  margin-bottom: 10px;
}

.review-slide{
  box-shadow: 18px 21px 0px 1px #000;
  border-radius: 0px;
  background: #fff;
  margin: 0px 10%;
  color: #000;
  padding: 10%;
}
.review-slide p, .review-slide .review-sig h3,.review-slide .review-sig a{
  color: #fff;
  transition: all .25s ease;
}

.review-slide .review-sig a:hover{
  cursor: url(https://cdn.custom-cursor.com/db/4731/32/arrow2699.png) , pointer!important;
  color: #6371C7;
}

.react-slideshow-wrapper .images-wrap > div{
  padding-bottom: 22px;
}

.review-sig h3{
  margin-right: 5px;
  display: inline-block;
}

.review.blue{
  border: #00FFFF 3px solid;
}
.review.pink{
  border: #ff00ff 3px solid;
}

body::-webkit-scrollbar {
  display: none;
}

.portfolio-details::-webkit-scrollbar {
  display: none;
}

.portfolio-details {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  background-color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .my-name {
    animation: App-logo-spin infinite 20s linear;
  }
  .my-name:hover {
    animation-play-state: paused;
  }
}

.who-i-am {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.my-name{
  margin: 0% 0 3% 0;
  width: 13%;
}

.section-title{
  margin: 8vh 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p{
  /* font-family: 'Poppins', sans-serif; */
  font-size: 1.8em;
  color: #fff;
  text-align: center;
  margin: 0;
}

li {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  text-align: left;
  font-size: 1.2em;
}

.full-stack-desc{
  text-align: center;
  width: 80%;
}

.tech-logo{
  width: 150px;
  margin: 0 3%;
}

.tech-icons{
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tech-icons img:hover{
  cursor: url(https://cdn.custom-cursor.com/db/4731/32/arrow2699.png) , pointer!important;
}

.nav.default-nav:hover{
  cursor: url(https://cdn.custom-cursor.com/db/4731/32/arrow2699.png) , pointer!important;
}

h3{
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.8rem;
  color: #fff;
  margin: 0;
}

.skill-list{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.skills-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portfolio-items-container{
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
  width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  line-height: 0;
}

.portfolio-items-container::-webkit-scrollbar {
  display: none;
}

.portfolio-items-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



.portfolio-item {
  width: 15vw;
  min-height: 100px;
  min-width: 100px;
  border-radius: 10%;
  position: relative;
  height: 15vw;
  display: inline-block;
  margin: 3%;
  opacity: 100%;
}

.review:hover{
  box-shadow: 0px 0px 25px 0px #fff;
  transition: all ease-in-out 0.25s;
}

.more-deets{
  color: #000;
  border-bottom: 1px solid #000;
  margin-bottom: 25px;
  margin-top: 5px;
  padding-bottom: 0px;
}
.more-deets:hover{
  position: relative;
  transition: all .2s ease-in-out;
  padding-bottom: 5px;
  margin-top: 0px;
  color: #6371C7;
  cursor: url(https://cdn.custom-cursor.com/db/4731/32/arrow2699.png) , pointer!important;
}

.skill-list{
  transition: all .5s ease-in-out;
  height: 0px;
  overflow: hidden;
}
.skill-list.open{
  height: 300px;
}

.portfolio-item-inner:hover {
  /* opacity: 30%; */
  cursor: grab;
  /* cursor: url(https://cdn.custom-cursor.com/db/4731/32/arrow2699.png) , pointer!important; */
}

.portfolio-items-container .portfolio-item{
  transition-property: box-shadow;
  transition-duration: .5s;
}

.portfolio-items-container:nth-of-type(1) .portfolio-item:hover{
  box-shadow: 0 0 0.1vw 0.4vw #00ffff, 0 0 0.4vw 0.6vw #6371c7, 0 0 2vw 0.4vw #00ffff, inset 0 0 1.5vw 0.4vw #00ffff, inset 0 0 0.4vw 0.2vw #6371c7, inset 0 0 0.5vw 0.2vw #00ffff;
}

.portfolio-items-container:nth-of-type(2) .portfolio-item:hover{
  box-shadow: 0 0 0.1vw 0.4vw #ff00ff, 0 0 0.4vw 0.6vw #bd05bd, 0 0 2vw 0.4vw #ff00ff, inset 0 0 1.5vw 0.4vw #ff00ff, inset 0 0 0.4vw 0.2vw #ff00ff, inset 0 0 0.5vw 0.2vw #ff00ff;
}

div:nth-child(4) .portfolio-item:hover{
  box-shadow: 0 0 0.1vw 0.4vw #ff00ff, 0 0 0.4vw 0.6vw #bd05bd, 0 0 2vw 0.4vw #ff00ff, inset 0 0 1.5vw 0.4vw #ff00ff, inset 0 0 0.4vw 0.2vw #ff00ff, inset 0 0 0.5vw 0.2vw #ff00ff;
  /* box-shadow: 0 0 0.1vw 0.4vw #ff00ff, 0 0 0.4vw 0.6vw #bd05bd, 0 0 0vw 0.4vw #ff00ff, inset 0 0 0.5vw -0.6vw #ff00ff, inset 0 0 0.4vw 0.2vw #bd05bd, inset 0 0 0.5vw -0.8vw #ff00ff; */
}

/* .portfolio-item-inner p {
  color: #000;
  background: #fff;
  transition-property: opacity;
  transition-duration: .5s;
}

.portfolio-item-inner:hover p{
  opacity: 0%;
} */

.portfolio-item .portfolio-see-more{
  transition-property: opacity;
  transition-duration: .5s;
  opacity: 0%;
  color: #eeeeee;
  position: relative;
  top: 9vw;
  pointer-events: none;
  z-index: 1;
  width: 50%;
}

.portfolio-item:hover .portfolio-see-more{
  opacity: 100%;
}


.portfolio-item-inner {
  transition-property: opacity;
  transition-duration: .5s;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  background-size: cover;
  box-shadow: 0px 25px 30px 0px #000;
}

.portfolio-subheading{
  /* border-top: #eeeeee 1px solid; */
  margin-top: 5px;
  padding-top: 5px;
  width: 100%;
}


.portfolio-items-container{
  cursor: grab;
}

.portfolio-details-content .portfolio-subheading{
  margin-top: 10px;
}

.portfolio-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portfolio-details{
  /* display: none; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0px;
  width: 80vw;
  position: sticky;
  overflow: hidden;
  transition-property: height;
  transition-duration: .5s;
  background-color: #282c34;
  border-radius: 10%;
  z-index: 3;
  padding: 10px;
  max-height: 90vh;
  position: fixed;
  top: 50%;
  margin: auto;
  left: 50%;
  opacity: 0%;
  transform: translate(-50%, -50%);
  transition-property:opacity, height, box-shadow;
  transition-duration: .5s;
}

.portfolio-details{
  /* border: solid 2px #00FFFF; */
  border-radius: 1.5rem;
  box-shadow: 0 0 0.1vw 0.4vw #00FFFF, 0 0 0.4vw 0.6vw #6371C7, 0 0 4vw 0.4vw #00FFFF, inset 0 0 1.5vw 0.4vw #00FFFF, inset 0 0 0.4vw 0.2vw #6371C7, inset 0 0 0.5vw 0.2vw #00FFFF;
}

.portfolio-details.pink{
  /* border: solid 2px #FF00FF; */
  border-radius: 1.5rem;
  box-shadow: 0 0 0.1vw 0.4vw #ff00ff, 0 0 0.4vw 0.6vw #bd05bd, 0 0 0vw 0.4vw #ff00ff, inset 0 0 0.5vw -0.6vw #ff00ff, inset 0 0 0.4vw 0.2vw #bd05bd, inset 0 0 0.5vw -0.8vw #ff00ff;
}

.portfolio-details.open{
  height: 90vh;
  opacity: 100%;
  overflow-y: inherit;
  overflow-x: hidden;
}

/* .portfolio-details.open.blue{
  -webkit-animation: blue-border-glow 1.5s linear forwards;
  animation: blue-border-glow 1.5s linear forwards;
}

.portfolio-details.open.pink{
  -webkit-animation: pink-border-glow 1.5s linear forwards;
  animation: pink-border-glow 1.5s linear forwards;
} */


/* #00FFFF
#6371C7
#FF00FF */

@keyframes blue-border-glow {
  0% {
    box-shadow: none;
  }
  30% {
    box-shadow: none;
  }
  35% {
    box-shadow: 0 0 0.1vw 0.4vw #00FFFF, 0 0 0.4vw 0.6vw #6371C7, 0 0 4vw 0.4vw #00FFFF, inset 0 0 1.5vw 0.4vw #00FFFF, inset 0 0 0.4vw 0.2vw #6371C7, inset 0 0 0.5vw 0.2vw #00FFFF;
  }
  37% {
    box-shadow: none;
  }
  45% {
    box-shadow: 0 0 0.1vw 0.4vw #00FFFF, 0 0 0.4vw 0.6vw #6371C7, 0 0 4vw 0.4vw #00FFFF, inset 0 0 1.5vw 0.4vw #00FFFF, inset 0 0 0.4vw 0.2vw #6371C7, inset 0 0 0.5vw 0.2vw #00FFFF;
  }
  47% {
    box-shadow: none;
  }
  49% {
    box-shadow: 0 0 0.1vw 0.4vw #00FFFF, 0 0 0.4vw 0.6vw #6371C7, 0 0 4vw 0.4vw #00FFFF, inset 0 0 1.5vw 0.4vw #00FFFF, inset 0 0 0.4vw 0.2vw #6371C7, inset 0 0 0.5vw 0.2vw #00FFFF;
  }
  100% {
    box-shadow: 0 0 0.1vw 0.4vw #00FFFF, 0 0 0.4vw 0.6vw #6371C7, 0 0 4vw 0.4vw #00FFFF, inset 0 0 1.5vw 0.4vw #00FFFF, inset 0 0 0.4vw 0.2vw #6371C7, inset 0 0 0.5vw 0.2vw #00FFFF;
  }
}
@keyframes pink-border-glow {
  0% {
    box-shadow: none;
  }
  30% {
    box-shadow: none;
  }
  35% {
    box-shadow: 0 0 0.1vw 0.4vw #ff00ff, 0 0 0.4vw 0.6vw #bd05bd, 0 0 2vw 0.4vw #ff00ff, inset 0 0 1.5vw 0.4vw #ff00ff, inset 0 0 0.4vw 0.2vw #ff00ff, inset 0 0 0.5vw 0.2vw #ff00ff;
  }
  37% {
    box-shadow: none;
  }
  45% {
    box-shadow: 0 0 0.1vw 0.4vw #ff00ff, 0 0 0.4vw 0.6vw #bd05bd, 0 0 2vw 0.4vw #ff00ff, inset 0 0 1.5vw 0.4vw #ff00ff, inset 0 0 0.4vw 0.2vw #ff00ff, inset 0 0 0.5vw 0.2vw #ff00ff;
  }
  47% {
    box-shadow: none;
  }
  49% {
    box-shadow: 0 0 0.1vw 0.4vw #ff00ff, 0 0 0.4vw 0.6vw #bd05bd, 0 0 2vw 0.4vw #ff00ff, inset 0 0 1.5vw 0.4vw #ff00ff, inset 0 0 0.4vw 0.2vw #ff00ff, inset 0 0 0.5vw 0.2vw #ff00ff;
  }
  100% {
    box-shadow: 0 0 0.1vw 0.4vw #ff00ff, 0 0 0.4vw 0.6vw #bd05bd, 0 0 2vw 0.4vw #ff00ff, inset 0 0 1.5vw 0.4vw #ff00ff, inset 0 0 0.4vw 0.2vw #ff00ff, inset 0 0 0.5vw 0.2vw #ff00ff;
  }
}


.portfolio-details-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.overlay{
  width: 1000vw;
  height: 0;
  background-color: #282c34;
  opacity: 20%;
  display: none;
  z-index: 2;
  position: fixed;
  top: 50%;
  margin: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-property: height;
  transition-duration: 1s;
}
.overlay.open{
  height: 10000vh;
  display: initial;
}

.closeModal{
  width: 30px;
  color: #fff;
  align-self: flex-end;
  margin-top: 30px;
  margin-right: 20px;
  position: relative;
  display: block;
  transition-property: width;
  transition-duration: .5s;
}

.closeModal:hover{
  width: 40px;
  cursor: pointer;
}

a{
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 22px;
  color: #fff;
  margin: 0;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

a:hover{
  cursor: pointer;
}

a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #6371C7;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

/* 
a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
} */

a.contact-icon:hover::after {
  width: 0px;
}

a.contact-icon{
  transition-property: background-color;
  transition-duration: 1s;
}

a.contact-icon:hover{
  background-color: white;
}

.portfolio-link{
  margin-top: 20px;
}

.portfolio-images{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portfolio-images img{
  margin-top: 20px;
  width: 65%;
  border-radius: 15px;
}

.portfolio-images{
  width: 100%;
}

.timeline-title{
  font-size: 1.3em;
}

.timeline-item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  top: 0;
  transition-property: top;
  transition-duration: .5s;
  position: relative;
}
.timeline-item:hover{
  top: -5px;
}

.timeline-item a {
  margin-right: 20px;
  font-weight: 400;
}

.chevron-left, .chevron-right{
  width: 30px;
  position: relative;
  top: -19px;
  border-radius: 100%;
  transition-property: top;
  transition-duration: .5s;
}

.chevron-left:hover, .chevron-right:hover{
  cursor: pointer;
  top:-22px;
  /* box-shadow: 0 0 0.1vw 0.4vw #00FFFF, 0 0 0.4vw 0.6vw #6371C7, 0 0 4vw 0.4vw #00FFFF, inset 0 0 1.5vw 0.4vw #00FFFF, inset 0 0 0.4vw 0.2vw #6371C7, inset 0 0 0.5vw 0.2vw #00FFFF; */
}

.chevron-right{
  width: 30px;
  transform: scaleX(-1);
}

.portfolio-chevys{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.portfolio-details-content h3:nth-of-type(2){
  width: 100%;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 22px;
}
/* 
* {
  cursor: none;
} */

.glitch {
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

.contact-icons{
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-icon{
  border-radius: 100%;
  -webkit-animation: float 4s ease-in-out infinite;
  animation: float 4s ease-in-out infinite;
  padding: 20px;
}

.contact-icon:hover{
  animation-play-state: paused;
  cursor: url(https://cdn.custom-cursor.com/db/4731/32/arrow2699.png) , pointer!important;
}

.contact-icon img{
  width: 5vw;
}

.mail-truck{
  -webkit-animation: drive 10s ease-in-out infinite;
  animation: drive 20s linear infinite;
  position: relative;
  left: -60vw;
  top: -6px;
  z-index: 1;
}

.road{
  position: relative;
  top: -100px;
  width: 100vw;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
}

.line{
  width: 100%;
  border-top: 2px solid;
  border-color: #ff00ff;
  animation: color-change 5s ease-in-out infinite;
  stroke-width: 10px;
}

.crash{
  animation: crash 5s ease-in-out infinite;
}

.clickme{
  color: #ff00ff;
  animation: text-color-change 5s ease-in-out infinite;
}

@keyframes drive {
  0% {
    transform: scaleX(1);
    left: -60vw;
  }
  25% {
    left: 60vw;
  }
  100% {
    transform: scaleX(1);
    left: 60vw;
  }
}


@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #fffc00;
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 25px 0px #ff00ff;
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 25px 0px #00FFFF;
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 25px 0px #ff00ff;
    transform: translatey(0px);
  }
}

@keyframes color-change {
  0% {
    border-color: #ff00ff;
  }
  50% {
    border-color: #00FFFF;
  }
  100% {
    border-color: #ff00ff;
  }
}

@keyframes text-color-change {
  0% {
    color: #ff00ff;
  }
  50% {
    color: #00FFFF;
  }
  100% {
    color: #ff00ff;
  }
}

@-webkit-keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

ul{
  /* padding-inline-start:0; */
}

.footer{
  margin-top: 50px;
  padding-top: 50px;
  border-top: #eeeeee 1px solid;
  width: 100%;
  display: flex;
  justify-content: center;
} 
.footer .credits{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .credits a{
  font-weight: 400;
  font-size: 1.2;
}

.footer .credits h3{
  margin-bottom: 10px;
}

.footer .credits ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ground{
  width: 100vw;
  height: 50px;
  background-repeat-x: repeat;
  background-size: contain;
}

.tree{
  position: relative;
  top:236px;
  z-index: 3;
}

.cloud{
  position: relative;
  top: -30px;
  z-index: 1;
  left: -20vw;
  animation: drift 30s linear infinite;
}

.character{
  position: relative;
  left: -75vw;
  transition-property: top;
  top:0;
  transition-duration: .5s;
  transition-timing-function: linear;
  animation: chase 20s linear infinite;
  z-index: 0;
}

.character:hover{
  cursor: url(https://cdn.custom-cursor.com/db/4731/32/arrow2699.png) , pointer!important;
}

.character.jump{
  top: -75px;
}

.portfolio-items-container .portfolio-item:first-of-type {
  margin-left: 7.52px;
}

.tree, .cloud, .character, img, .glitch {
  user-select: none;
}

@keyframes chase {
  0% {
    transform: scaleX(1);
    left: -100vw;
  }
  35% {
    left: 100vw;
    transform: scaleX(1);
  }
  50% {
    left: 100vw;
    transform: scaleX(-1);
  }
  85% {
    transform: scaleX(-1);
    left: -100vw;
  }
  100% {
    transform: scaleX(1);
    left: -100vw;
  }
}


@keyframes drift {
  0% {
    left: -65vw;
  }
  100% {
    left: 65vw;
  }
}

@media (max-width: 1254px) {
  .review {
    width: 30vw;
    height: 30vw;
  }
}

@media (max-width: 1109px) {
  .review {
    width: 35vw;
    height: 35vw;
  }
}

@media (max-width: 953px) {
  .review {
    width: 40vw;
    height: 40vw;
  }
}

@media (max-width: 853px) {
  .review {
    width: 48vw;
    height: 48vw;
  }
}


@media (max-width: 750px) {
  .full-stack-desc{
    width: 95%;
  }
  .tech-logo{
    width: 75px;
  }
  .skill-list{
    width: 98%;
  }
  .tree{
    display: none;
  }
}

@media (max-width: 706px) {
  .review {
    width: 60vw;
    height: 60vw;
  }
}

@media (max-width: 706px) {
  .review {
    width: 80vw;
    height: 80vw;
  }
  .section-title{
    width: 112vw;
  }
}


@media (max-width: 540px) {
  .timeline-item {
    flex-direction: column;
  }
}

@media (max-width: 430px) {
  .review {
    width: 90vw;
    height: 100vw;
  }
}

@media (max-width: 430px) {
  .review {
    width: 90vw;
    height: 120vw;
  }
}

@media (max-width: 357px) {
  .review {
    width: 90vw;
    height: 160vw;
  }
}

.gradient-background {
  box-shadow: 0px 25px 30px 0px #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(62deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); */
  background: linear-gradient(62deg, #00ffff, #ff00ff, #6371c7, #23D5AB);
    animation: gradient 20s ease infinite; 
     background-size: 400% 400%;
 height: 100vh;
}
@-webkit-keyframes gradient{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}
@keyframes gradient{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}

.gradient-button{
  box-shadow: 0px 25px 30px 0px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(62deg, #00ffff, #ff00ff, #6371c7, #23D5AB);
  animation: gradient 20s ease infinite; 
  background-size: 400% 400%;
  width: 205px;
  border-radius: 18px;
  font-size: 2em;
  padding: 5px;
  /* border: 1px solid; */
}

.gradient-slide{
  background: linear-gradient(62deg, #00ffff, #ff00ff, #6371c7, #23D5AB);
  animation: gradient 20s ease infinite; 
  background-size: 400% 400%;
}

.gradient-button:hover
{
  /* background:#fff; */
  animation: animate-contact 8s linear infinite;
  cursor: url(https://cdn.custom-cursor.com/db/4731/32/arrow2699.png) , pointer!important;
}
.react-slideshow-wrapper.slide{
  width: 90vw !important;
}

.nav-head{
  position: fixed;
  top: -100px;
  right: 20px;
  transition: all .5s ease-in;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-head.open{
  top: 8px;
  width: 100%;
  position: fixed;
  z-index: 2;
}
.blog-link{
  margin-left: 20px;
}
.blog-link:hover{
  color: #ff00ff;
  transition: all .25s ease-in-out;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
  height: 65vh;
  width: 100%;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 80vw;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}
